.cell {
  display: flex;
  height: 100px;
  width: 100px;
}

.mainColor {
  background-color: whitesmoke;
}
.altColor{
  background-color: lightblue;
}

.gamePieceContainer {
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  width: 100%;
  z-index: 1;
}

.gamePiece {
  border-radius: 100%;
  height: 100%;
  position: relative;
  width: 100%;

  &.red {
    background-color: #990000;
  }

  &.white {
    background-color: white;
  }
}